<form [formGroup]="calculateStatsForm" (ngSubmit)="onSubmit(); resetForm()">

  <h3>Calculate Statistics</h3>

  <label for="personne">Select Person:</label>
  <select id="personne" formControlName="personne" required>
    @for(personne of personnes; track $index) {
      <option [value]="personne.id">
        {{ personne.prenom }} {{ personne.nom }}
      </option>
    }
  </select>
  @if(calculateStatsForm.get('personne')?.invalid && calculateStatsForm.get('personne')?.touched) {
    <div class="error-message">
      Person is required.
    </div>
  }

  <br>

  <label for="parcours">Select Course:</label>
  <select id="parcours" formControlName="parcours" required>
    @for(parcours of parcours; track $index) {
      <option [value]="parcours.id">
        {{ parcours.nom }}
      </option>
    }
  </select>
  @if(calculateStatsForm.get('parcours')?.invalid && calculateStatsForm.get('parcours')?.touched) {
    <div class="error-message">
      Course is required.
    </div>
  }

  <br>

  <label for="type">Type: </label>
  <select id="type" formControlName="type" required>
    <option value="marche">Marche</option>
    <option value="course">Course</option>
  </select>
  @if(calculateStatsForm.get('type')?.invalid && calculateStatsForm.get('type')?.touched) {
    <div class="error-message">
      Type is required.
    </div>
  }

  <br>

  <button type="submit" [disabled]="calculateStatsForm.invalid">Calculate statistics</button>
</form>

@if(successMessage) {
  <div class="success-message">
    {{ successMessage }}
  </div>
}

@if(errorMessage) {
  <div class="error-message">
    {{ errorMessage }}
  </div>
}

@if(result){
  <div class="results">
    <h4>Results:</h4>
    <p>Average Time: {{ result.averageTime }} minutes</p>
    <p>Standard Time: {{ result.standardTime }} minutes</p>
    @if(result.isBetterThanStandard){
      <p>Better than standard time!</p>
    }
    @if(!result.isBetterThanStandard){
      <p>Not better than standard time...</p>
    }
  </div>
}
