<form [formGroup]="addParcoursForm" (ngSubmit)="onSubmit(); resetForm()">

  <h3>Add a course</h3>

  <label for="name">Name: </label>
  <input type="text" id="name" formControlName="nom"/>
  @if(addParcoursForm.get('nom')?.invalid && addParcoursForm.get('nom')?.touched) {
    <div class="error-message">
      Name is required, should be at least 5 characters and must not contain numbers.
    </div>
  }

  <br>

  <label for="walkTimeMin">Standard walk time in minutes: </label>
  <input type="number" id="walkTimeMin" formControlName="tempsMarcheMinutes"/>
  @if(addParcoursForm.get('tempsMarcheMinutes')?.invalid && addParcoursForm.get('tempsMarcheMinutes')?.touched) {
    <div class="error-message">
      Walk time is required and should be of at least 1 minute.
    </div>
  }

  <br>

  <label for="runTimeMin">Standard run time in minutes: </label>
  <input type="number" id="runTimeMin" formControlName="tempsCourseMinutes"/>
  @if(addParcoursForm.get('tempsCourseMinutes')?.invalid && addParcoursForm.get('tempsCourseMinutes')?.touched) {
    <div class="error-message">
      Run time is required and should be of at least 1 minute.
    </div>
  }

  <br>

  <button type="submit" [disabled]="addParcoursForm.invalid">Add Course</button>
</form>

@if(successMessage) {
  <div class="success-message">
    {{ successMessage }}
  </div>
}

@if(errorMessage) {
  <div class="error-message">
    {{ errorMessage }}
  </div>
}

